.about div {
  margin: 5% 20%;
}

.about h1 {
  margin-bottom: 1rem;
}

.about p {
  line-height: 1.5rem;
}

.about #artist-pic {
  width: 350px;
  float: right;
  margin: 10px;
}

.artist-bio {
  padding-bottom: 10%;
}

.intention h3 {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

#signature {
  font: italic small-caps bold 16px/2 cursive;
}